<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap4.example3"
        versionCode = "10" 
        version     = "2.0.0" >

    <preference name="phonegap-version" value="3.3.0" />
    <!-- versionCode is optional and Android only -->

    <name>My App</name>

    <description>
        Application mobile 
    </description>

    <author href="https://www.website.fr" email="support@website.fr">
        Henri Labarre 
    </author>

    <gap:platform name="ios" />
    <gap:platform name="android" />

    <gap:plugin name="org.apache.cordova.core.media" />
    <access origin="http://ibeat.org" subdomains="true" /> 

</widget>
